<div class="side-bar col-md-3">
	<div class="w3ls-featured-ads">
		<h2 class="sear-head fer">Control Panel</h2>
		<div class="w3l-featured-ad">
			<%= link_to 'Post Free Ad', new_advert_path, class: "btn btn-success btn-block" %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>